<ul class="aside">
    <% for (let item of asideList) { %>
        <% if ((item.checked && item.type === 1) || (userinfo.is_super === 1 && item.type === 1)) { %>
        <li>
            <h4><%= item.module_name %></h4>
            <ul>
                <% for (let sub of item.items) { %>
                    <% if ((sub.checked && sub.type === 2) || (userinfo.is_super === 1 && sub.type === 2)) { %>
                        <li class="list-group-item">
                            <a href="/<%= config.adminPath %>/<%= sub.url %>" target="rightMain"><%= sub.action_name %></a>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </li>
        <% } %>
    <% } %>
</ul>